{% extends 'base.html.twig' %}

{% block title %}Edit Sklad{% endblock %}

{% block body %}

    <div class="container">
        <h2 class="mt-5 text-center mb-3">Edit Sklad</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_sklad_index') }}">{{ 'labels.back_to_idx'|trans }}</a>
            </div>
            <div class="card-body">
                {{ include('sklad/_form.html.twig', {'button_label': 'labels.update'|trans}) }}
            </div>
        </div>
    </div>

{% endblock %}
