{% extends 'base.html.twig' %}

{% block title %}Edit Sklad{% endblock %}

{% block body %}
    <h1>Edit Sklad</h1>

    {{ include('sklad/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_sklad_index') }}">back to list</a>

    {{ include('sklad/_delete_form.html.twig') }}
{% endblock %}
