{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    <h1>O nas</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus vitae voluptatum eum corporis eos ipsum esse, recusandae tempora ipsa quibusdam maxime, dolorem incidunt? Voluptatem, nam nisi hic dicta placeat sed?</p>
    <p>Nas tym je vysoce profi</p>
    <p>Tady je taky nejaky text...</p>
{% endblock %}