{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tohle je homepage</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec purus nec nunc
        ultricies tincidunt. Nullam nec purus nec nunc
    </p>


{% endblock %}